header img {
    height: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    padding: 1px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th {
    background-color: rgb(24, 182, 121);
}

header {
    display: flex;
}


footer {
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}